<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Instagram Search with AngularJS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body ng-app="InstagramSearch">
    <div class="container" ng-controller="searchCtrl">
        <header class="text-center">
            <img src="images/ng-instagram.png" alt="Instragram Searcher" class="img-responsive center-block"/>
            <form name="instragramSearchForm" ng-submit="submit()" novalidate>
                <input type="text" placeholder="Enter a tag to search" ng-model="query" required="" />
                <input type="submit" value="Submit" class="btn btn-default"/>
            </form>
            <div class="row" >
                <span ng-if="instragramSearchForm.$submitted && instragramSearchForm.$invalid">Please enter a tag to search</span>
                <span ng-if="instragramSearchForm.$submitted && searchComplete">We found {{ results.length }} images tagged with <em>{{ query }}</em></span>
            </div>
        </header>
        <section id="results" ng-show="searchComplete">
            <ul class="row">
                <li class="col-md-4 col-xs-6" ng-repeat="image in results">
                    <a href="{{ image.link }}" target="_blank">
                        <img ng-src="{{ image.images.standard_resolution.url }}" class="img-responsive"/>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>